
body {
    background-color: #f9f9fa;
    font-family: 'Josefin Sans', sans-serif;
    background: url('/assets/img/14166060531_1cf1140c4e_b.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

body::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 2.5rem; /* Large font size for prominence */
    color: #ffffff; /* Dark color for readability */
    font-weight: 700; /* Bold weight for emphasis */
    text-align: center; /* Center alignment */
    margin-top: 0; /* Space above the heading */
    margin-bottom: 8px;
    padding: 10px; /* Padding for extra space around the text */
    background: linear-gradient(to right, #4CAF50, #2E8B57); /* Gradient background */
    color: #fff; /* White text color for contrast */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    text-shadow: 1px 1px 2px rgb(250, 248, 248); /* Light shadow for text */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}


.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.form-control {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-left: -30%;
    width: 58%;
}

button.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .container{
    margin-left: 17%;
    margin-right: 17%;

}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.form-control{
width: 58%;}
}
@media (min-width: 330px) and (max-width: 480px) {

    .container {
        width: 80% !important;}

    h2{
        font-size: 20px;
    }

    .form-control{
        margin-left: 2%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {

    .container {
        width: 95% !important;}
    h2{
        font-size: 24px;
    }

    .form-control{
        margin-left: 2%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        width: 80% !important;
        margin-left: 17%;
    }
    h2{
        font-size: 24px;
    }

    .form-control{
        margin-left: 2%;
        width: 50%;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}