


@keyframes slideshow {
    0% { background: url('/assets/img/7.jpg') no-repeat center center fixed; background-size: cover; }
    33% { background: url('/assets/img/1.jpg') no-repeat center center fixed; background-size: cover; }
    40% { background: url('/assets/img/2.jpg') no-repeat center center fixed; background-size: cover; }
    55% { background: url('/assets/img/5.jpg') no-repeat center center fixed; background-size: cover; }
    70% { background: url('/assets/img/6.jpg') no-repeat center center fixed; background-size: cover; }
    80% { background: url('/assets/img/3.png') no-repeat center center fixed; background-size: cover; }
    100% { background: url('/assets/img/4.png') no-repeat center center fixed; background-size: cover; }
}

body {
    margin: 0;
    padding: 0;
    height: 102vh;
    background: url('/assets/img/Brown Autumn Photo Collage.png') no-repeat center center fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideshow 90s infinite; /* Add animation for the slideshow */
    width: 60%; /* Half width */
    position: relative; /* Positioning context for overlay */
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 170%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% transparency */
    z-index: -1; /* Ensure the overlay is on top of the background */
}

/* Container Styling */
.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 12px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    margin-left: 67%;
}
.name, .first_name, .birth_date{
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

/* Button Styling */
.button {
    display: inline-block;
    padding: 12px 24px;
    background: green;
    margin-top: 3%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
}

.button:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

/* Card Styling */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 300px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}

